<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.UserDao">
    <select id="selectUserById" resultType="User">
        SELECT *
        FROM t_users
        WHERE `id` = #{arg0}
    </select>
    <select id="selectUserByIdAndPwd" resultType="User">
        SELECT *
        FROM t_users
        WHERE `id` = #{id}
          AND `password` = #{password}
    </select>
    <select id="selectUserByMap" resultType="User">
        SELECT *
        FROM t_users
        WHERE `id` = #{id}
          AND `password` = #{password}
    </select>
    <select id="selectUserByObject" parameterType="User" resultType="User">
        SELECT *
        FROM t_users
        WHERE `id` = #{id}
          AND `password` = #{password}
    </select>
    <select id="selectUserByKeyWords" resultType="User">
        SELECT *
        FROM t_users
        WHERE `name` LIKE CONCAT('%', #{keyWords}, '%')
    </select>
    <delete id="deleteUserById">
        DELETE
        FROM t_users
        WHERE `id` = #{id}
    </delete>
    <update id="updateUserById" parameterType="User">
        UPDATE t_users
        SET `name` = #{name}
        WHERE `id` = #{id}
    </update>
    <delete id="deleteUsersByIds">
        DELETE
        FROM t_users
        WHERE `id` IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>